.bicliqueDetailTabs {
  -webkit-tap-highlight-color: transparent;
}

.bicliqueDetailTabs__tabList {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.bicliqueDetailTabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.bicliqueDetailTabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.bicliqueDetailTabs__tabPanel {
  display: none;
}

.bicliqueDetailTabs__tabPanel--selected {
  display: block;
}

.bicliqueDetailTabs__tab:focus {
  outline: none;
}

.bicliqueDetailTabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
