<div class="col-md-4">
  <h4>Coverage</h4>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>DMR Coverage:</td>
        <td>
          {{ statistics.coverage.dmrs.covered|default(0) }}/{{
          statistics.coverage.dmrs.total|default(0) }} ({{
          "%.1f"|format(statistics.coverage.dmrs.percentage|default(0) * 100)
          }}%)
        </td>
      </tr>
      <tr>
        <td>Gene Coverage:</td>
        <td>
          {{ statistics.coverage.genes.covered|default(0) }}/{{
          statistics.coverage.genes.total|default(0) }} ({{
          "%.1f"|format(statistics.coverage.genes.percentage|default(0) * 100)
          }}%)
        </td>
      </tr>
    </tbody>
  </table>
</div>
