<div class="col-md-4">
  <h4>Dominating Set</h4>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>Size:</td>
        <td>{{ statistics.get('dominating_set', {}).get('size', 0) }}</td>
      </tr>
      <tr>
        <td>Coverage:</td>
        <td>
          {{ "%.1f"|format(statistics.get('dominating_set', {}).get('percentage', 0) * 100) }}%
        </td>
      </tr>
      <tr>
        <td>Genes Dominated:</td>
        <td>{{ statistics.get('dominating_set', {}).get('genes_dominated', 0) }}</td>
      </tr>
    </tbody>
  </table>
</div>
