<div class="card mb-4">
  <div class="card-header">
    <h3>Overall Statistics</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h4>Summary</h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>Total Timepoints:</td>
              <td>{{ overall_stats.total_timepoints }}</td>
            </tr>
            <tr>
              <td>Total Bicliques:</td>
              <td>{{ overall_stats.total_bicliques }}</td>
            </tr>
            <tr>
              <td>Total Components:</td>
              <td>{{ overall_stats.total_components }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include 'components/stats/bicliques_summary.html' %}
